@charset "utf-8";
body{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.hed{
    width: 760;
    text-align: center;
    height: 40;
    background-color: black;

}
.hed ul{
    margin: 0;
    padding: 0;
    text-align: center:
}
.hed li{
    margin: auto;
    padding: 0;
    display: inline-block;
}
.hed li b{
    color: white;
    font-size: 17;
}
.hed li a{
    text-decoration: none;
    font-size: 16;
}
.hed nav{
    font-size: 16;
    width: 491;
    height: 40;
    display: inline-block;
    margin: 0;
}
.hed header{
    height: 40;
    margin: 0;
    display: inline-block;
}
.rd {
    font-size: 18;
    margin: auto;
    color: red;
}
#st{
    font-size:24;
}
